{% extends 'base.html.twig' %}

{% block title %}Categorieblog index{% endblock %}

{% block body %}
    <h1>Categorieblog index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Description</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for categorieblog in categorieblogs %}
            <tr>
                <td>{{ categorieblog.id }}</td>
                <td>{{ categorieblog.name }}</td>
                <td>{{ categorieblog.description }}</td>
                <td>
                    <a href="{{ path('app_categorieblog_show', {'id': categorieblog.id}) }}">show</a>
                    <a href="{{ path('app_categorieblog_edit', {'id': categorieblog.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_categorieblog_new') }}">Create new</a>
{% endblock %}
